<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_qlsp</servlet-name>
        <servlet-class>controller.Servlet_qlsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_themvasua</servlet-name>
        <servlet-class>controller.Servlet_themvasua</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_xemnd</servlet-name>
        <servlet-class>controller.Servlet_xemnd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_qlnd</servlet-name>
        <servlet-class>controller.Servlet_qlnd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItem</servlet-name>
        <servlet-class>controller.RemoveItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuantityIncDec</servlet-name>
        <servlet-class>controller.QuantityIncDec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderNow</servlet-name>
        <servlet-class>controller.OrderNow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderServlet</servlet-name>
        <servlet-class>controller.CancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>controller.AddToCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_checkout</servlet-name>
        <url-pattern>/check_out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_qlsp</servlet-name>
        <url-pattern>/qlsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_themvasua</servlet-name>
        <url-pattern>/themvasua</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_xemnd</servlet-name>
        <url-pattern>/xemnd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_qlnd</servlet-name>
        <url-pattern>/qlnd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItem</servlet-name>
        <url-pattern>/removeitem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuantityIncDec</servlet-name>
        <url-pattern>/quantityincdec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderNow</servlet-name>
        <url-pattern>/ordernow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderServlet</servlet-name>
        <url-pattern>/cancelorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Servlet_product</servlet-name>
        <servlet-class>controller.Servlet_product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_product_describe</servlet-name>
        <servlet-class>controller.Servlet_product_describe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_home</servlet-name>
        <servlet-class>controller.Servlet_home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_checkout</servlet-name>
        <servlet-class>controller.Servlet_checkout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_product</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_product_describe</servlet-name>
        <url-pattern>/describe</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
